<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="tete@yourwebsite.undefined" name="tete" createdate="2009-07-15">
        <version stability="pre-alpha" date="">0.1pre</version>
        <label lang="en_EN">tete</label>
        <description lang="en_EN"></description>
        <license URL="">All right reserved</license>
        <copyright>2008 yourname</copyright>
        <creator name="yourname" email="youremail@yourwebsite.undefined" active="true" />
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.yourwebsite.undefined</homepageURL>
        <!--<updateURL>http://www.yourwebsite.undefined/update.xml</updateURL>-->
    </info>
    <dependencies>
        <jelix minversion="1.2b1pre.1444" maxversion="1.2b1pre.1444" />
    </dependencies>
</module>